sass_binary_site="http://npm.taobao.org/mirrors/node-sass"
SQLITE3_BINARY_SITE="http://npm.taobao.org/mirrors/sqlite3"
puppeteer_download_host="https://npm.taobao.org/mirrors"
chromedriver_cdnurl="https://npm.taobao.org/mirrors/chromedriver"
sharp_binary_host="https://npm.taobao.org/mirrors/sharp"
sharp_libvips_binary_host="https://npm.taobao.org/mirrors/sharp-libvips"
